<launch>
    <node pkg = "rosbag2pcd" type = "cloud_preprocess" name = "cloud_preprocess"/>
    <!--node pkg = "rosbag2pcd" type = "feature_search" name = "feature_search"-->
    <node pkg = "rosbag2pcd" type = "sync_cloud" name = "sync_cloud"/>
    <node pkg = "rosbag2pcd" type = "map_generate" name = "map_generate" output="screen"/>
    <node pkg = "rosbag2pcd" type = "object_combination" name = "object_combination" />
    <node pkg = "rosbag2pcd" type = "curb_detect" name = "curb_detect" />
    <!--node pkg = "rosbag2pcd" type = "height_map" name = "height_map" output="screen"-->
    <node pkg = "rosbag2pcd" type = "feature_combination" name = "feature_combination"/>
    <!--node pkg = "rosbag2pcd" type = "radial_search" name = "radial_search" -->
    <node pkg = "rosbag2pcd" type = "cloud_cluster" name = "cloud_cluster"/>
</launch>
